<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base Template{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/base.css">
</head>

<body>
    <div class="navbar">
        <div class="container">
            <nav>

                <div class="navbar-left">
                    <a href="/users/{{ id }}/formular">Formular</a>
                    <a href="/users/{{ id }}/dashboard">Dashboard</a>
                    <a href="/users/{{ id }}/remindere">Reminders</a>
                    <a href="/users/{{ id }}/analiza">Analiză</a>
                </div>
                <div class="navbar-right">
                    <a class="numele">{{ name }}</a>
                    <a href="/login">Sign Out</a>
                </div>
            </nav>
        </div>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>

</html>