{% extends 'base.html' %}

{% block title %}Reminder{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.5/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.5/main.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/calendar.css">

<body>
    <div class="button-container">
        <button id="addButton">Adaugă</button>
        <button id="deleteButton">Sterge</button>
    </div>
    <div id="calendar"></div>

    <script src ="/static/calendar.js"></script>

{% endblock %}